.Canvas-container {
  /* flex: 4; */
  width: 800px;
  margin-right: 12px;
}
.Canvas-container canvas {
  outline: 2px solid blue;
}
.Canvas-container .Canvas-deleteMode-btn {
  position: absolute;
  top: 18px;
  left: 18px;
}
.Canvas-container .Canvas-zoom-btn {
  position: absolute;
  top: 782px;
  left: 702px;
}
